body {
    background-color: #ebfffa;
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #cadefc;
}
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    color: #c3bef0;
}
.paragraph-header {
    font-size: 25px;
    color: #cadefc;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #c3bef0;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #c3bef0;
    text-align: left;
}
.top-cloud {
    position: absolute;
    right: 100px;
    top: 120px;
    opacity: 20%;
}
.bottom-cloud {
    position: absolute;
    left: 100px;
    bottom: 350px;
    opacity: 20%;
}
.top-container {
   text-align: center;
   position: relative;
   padding-top: 300px;
}
.middle-container {
    text-align: center;
    position: relative;
    padding: 100px;
}
.bottom-container {
    font-family: 'Montserrat', sans-serif;
    background: #b7b1f3;
    background-image: -webkit-linear-gradient(top, #c3bef0, #cadefc);
    background-image: -moz-linear-gradient(top, #c3bef0, #cadefc);
    background-image: -ms-linear-gradient(top, #c3bef0, #cadefc);
    background-image: -o-linear-gradient(top, #c3bef0, #cadefc);
    background-image: linear-gradient(to bottom, #c3bef0, #cadefc);
    color: #ffffff;
    margin-bottom: 0;
    height: 100px;
    text-align: center;
    position: relative;
    padding-top: 50px;
}
.skill-row {
    line-height: 2;
    text-align: left;
}
.about {
    line-height: 2;
    text-align: left;
}
.summer-job {
    line-height: 2;
    text-align: left;
}
.btn {
    background: #b2cef8;
    background-image: -webkit-linear-gradient(top, #cadefc, #c3bef0);
    background-image: -moz-linear-gradient(top, #cadefc, #c3bef0);
    background-image: -ms-linear-gradient(top, #cadefc, #c3bef0);
    background-image: -o-linear-gradient(top, #cadefc, #c3bef0);
    background-image: linear-gradient(to bottom, #cadefc, #c3bef0);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #b7b1f3;
    background-image: -webkit-linear-gradient(top, #c3bef0, #cadefc);
    background-image: -moz-linear-gradient(top, #c3bef0, #cadefc);
    background-image: -ms-linear-gradient(top, #c3bef0, #cadefc);
    background-image: -o-linear-gradient(top, #c3bef0, #cadefc);
    background-image: linear-gradient(to bottom, #c3bef0, #cadefc);
    text-decoration: none;
  }


